:root {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 1rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: rgba(0,0,0,.2) 0 5px 15px;
}

.slider .slider-items {
    position: relative;
    height: 500px;
}
.slider .slider-items .slider-items__slide {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    z-index: 0;
    transition: .7s ease;
}
.slider .slider-items .slider-items__slide.active {
    /* display: block; */
    opacity: 1;
    z-index: 1;
}

.slider .slider-items .slider-items__slide .slide-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.5rem;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}
.slider .slider-items .slider-items__slide .slide-text a {
    color: #e9f8fb;
}

.slider .slider-nav .slider-nav__bullet{
    background-color: rgba(114, 114, 114, 0.329);
    display: inline-block;
    flex-direction: row;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.slider .slider-nav{
    display: flex;
    flex-direction: row;
}
.slider .slider-nav a{
    padding: 0 5px;
    color: #3f3f3f;
    text-decoration: none;
}

.slider .slider-nav .active{
    background-color: rgba(114, 114, 114, 0.849);
    display: inline-block;
    flex-direction: row;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
